extends layout

block content
  .catering
    .row
      .col-sm-8
        img(src='images/catering.jpg')

      .col-sm-4
        .container-fluid.smal-margin
          h3
            | Catering is good!
          p
            | Established in 2006, Shishlix brings years of culinary experience and passionate dedication to catering. Under the direction of our team we ensures that you feel like a guest at your own function.
            | To design and execute the most incredible food experience for our clients, our kitchen is incredibly professional with years of experience. Shishlix Restaurant catered event, whether large or small, corporate or private – is a new adventure and a source of pride for our team. Shishlix Catering demonstrates a passion for providing extraordinary guest experience.
            | We are nothing more than a few great menu ideas and we believe in one thing in restaurant industry: ”good food is good business”
            | Recommended Menu:
            | Package is $30 per person weekdays
            | $35 per person Sundays and Fridays
            | $45  per person Saturdays
            | Children under 5 years old free
            | Dinner Will Be Served As A Buffet Style And Includes:
            | Appetizer:
            | Mirza Ghasemi and Kashke bademjan
            | Mast mosir and Mast khiyar
            | Hummus with Tahini and Dolmeh
            | Pickles
            | Entree:
            | Koobideh Kebab
            | Chicken Kebab ( white meat and dark meat)
            | Baghali polo With lamb
            | Plain Basmati Rice with Zafran on the top
            | stew of the day
            | house salad
            | You are always more than welcome to add different entree or appetizer to customize your order. we also offer whole salmon and lamb to add up to your table.
            | Whole baked lamb (34 lb) : $480
            | Whole baked stuffed Salmon (16 lb) : $180
            | Enjoy Your Night With Us And Let Us Know How We Di

    link(rel='stylesheet', href='/stylesheets/pages/catering.css')
