extends layout

block content
  .home(ng-controller='homeController')
    video#video-playback(autoplay='', muted='', loop='')
      source(src='rain.mp4', type='video/mp4')
      | Your browser does not support HTML5 video.
    .content
      h1 Best Kebab in Toronto
      p
        | Our philosophy is to serve the best and most affordable Kebab in Toronto
      button#video-control(ng-click='videoControl()') Pause

  link(rel='stylesheet', href='/stylesheets/pages/home.css')
