doctype html
html(lang="en")
  head
    title
      | Persia Restaurant
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Persia Restaurant, middle eastern restaurant, 9325 Yonge St, Richmond Hill, ON L4C 1V4, Canada")

    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')

    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/angular.min.js')

  body(ng-app='app')
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            strong Persia Restaurant
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li(class=pageURL == "/student/register" ? "active" : "")
              a(href='/menu')
                strong Menu
            li(class=pageURL == "/user" ? "active" : "")
              a(href='/catering')
                strong Catering
            li(class=pageURL == "/student/list" ? "active" : "")
              a(href='/location')
                strong Location


    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')

    .container-full
      block content
