extends layout

block content
  .location
    .row
      .col-md-9
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11507.986427808248!2d-79.4307047!3d43.855899!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4981e80e60c5beaa!2sPardis+Restaurant!5e0!3m2!1sen!2sus!4v1527823223208', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')

      .col-md-3
        .container-fluid
          h3 
            | Contact Info
          p
            a(href='https://goo.gl/maps/3RVxQy1XdZF2') 9325 Yonge St, Richmond Hill, ON L4C 1V4, Canada
          br
          p 
            a(href='tel:+19052378010') +1 905-237-8010

          hr

          h3 Find Us On Social Media:
          label
            i.fab.fa-instagram.fa-2x.fa-fw
            p
              a(href='http://www.google.com') Instagram  
          label
            i.fab.fa-facebook.fa-2x.fa-fw
            p 
              a(href='http://www.google.com') Facebook  

    link(rel='stylesheet', href='/stylesheets/pages/location.css')
