extends layout

block content
  .container.menu
    img(src='images/sides.jpg')

    .row
      .col-md-5.col-md-offset-5
        h1
          | Appetizers

    .row
      .col-sm-5
        .panel.panel-default
          .panel-heading
            | Salads
          ul.list-group
            li.list-group-item Greek Salad
              label.pull-right $6
            li.list-group-item Season Salad
              label.pull-right $6
            li.list-group-item Caesar Salad
              label.pull-right $6
            li.list-group-item Shirazi Salad
              label.pull-right $6

      .col-sm-2
        .clear-fix

      .col-sm-5
        .panel.panel-default
          .panel-heading
            | Sides
          ul.list-group
            li.list-group-item Mirza Ghasemi
              label.pull-right $6
            li.list-group-item Baba Gonush
              label.pull-right $6
            li.list-group-item Kashke Bademjan
              label.pull-right $6
            li.list-group-item Hummus With Tahini
              label.pull-right $6

    hr

    .row
      .col-md-5.col-md-offset-5
        h1
          | Plates

    .row
      .col-sm-5
        .panel.panel-default
          .panel-heading
            | Salads
          ul.list-group
            li.list-group-item Greek Salad
              label.pull-right $6
            li.list-group-item Season Salad
              label.pull-right $6
            li.list-group-item Caesar Salad
              label.pull-right $6
            li.list-group-item Shirazi Salad
              label.pull-right $6

      .col-sm-2
        .clear-fix

      .col-sm-5
        .panel.panel-default
          .panel-heading
            | Sides
          ul.list-group
            li.list-group-item Mirza Ghasemi
              label.pull-right $6
            li.list-group-item Baba Gonush
              label.pull-right $6
            li.list-group-item Kashke Bademjan
              label.pull-right $6
            li.list-group-item Hummus With Tahini
              label.pull-right $6

    hr
    
    .row
      .col-md-5.col-md-offset-5
        h1
          | Gallery


    .row
      .col-md-4
        .thumbnail
          img(src='/images/square.jpg', alt='Lights', style='width:100%')
          .caption
            p Lorem ipsum...
      .col-md-4
        .thumbnail
          img(src='/images/square.jpg', alt='Lights', style='width:100%')
          .caption
            p Lorem ipsum...
      .col-md-4
        .thumbnail
          img(src='/images/square.jpg', alt='Lights', style='width:100%')
          .caption
            p Lorem ipsum...

  link(rel='stylesheet', href='/stylesheets/pages/menu.css')
