extends layout

block content
  .container
    .row
      .col-md-4.col-md-offset-4
        h3
          | Appetizers

    .row
      .col-sm-5
        .panel.panel-default
          .panel-heading
            | Salads
          ul.list-group
            li.list-group-item Greek Salad
              label.pull-right $6
            li.list-group-item Season Salad
              label.pull-right $6
            li.list-group-item Caesar Salad
              label.pull-right $6
            li.list-group-item Shirazi Salad
              label.pull-right $6

      .col-sm-5
        .panel.panel-default
          .panel-heading
            | Sides
          ul.list-group
            li.list-group-item Mirza Ghasemi
              label.pull-right $6
            li.list-group-item Baba Gonush
              label.pull-right $6
            li.list-group-item Kashke Bademjan
              label.pull-right $6
            li.list-group-item Hummus With Tahini
              label.pull-right $6
