extends layout

block content
  .container.menu
    img(src='images/sides.jpg')

    .row
      .col-md-5.col-md-offset-5
        h1
          | Appetizers

    .row
      .col-sm-5
        .panel.panel-default
          .panel-heading
            | Salads
          ul.list-group
            li.list-group-item Greek Salad
              label.pull-right $6
            li.list-group-item Season Salad
              label.pull-right $6
            li.list-group-item Caesar Salad
              label.pull-right $6
            li.list-group-item Shirazi Salad
              label.pull-right $6

      .col-sm-2
        .clear-fix

      .col-sm-5
        .panel.panel-default
          .panel-heading
            | Sides
          ul.list-group
            li.list-group-item Mirza Ghasemi
              label.pull-right $6
            li.list-group-item Baba Gonush
              label.pull-right $6
            li.list-group-item Kashke Bademjan
              label.pull-right $6
            li.list-group-item Hummus With Tahini
              label.pull-right $6

    hr

    .row
      .col-md-5.col-md-offset-5
        h1
          | Main Plates

    .row
      .col-sm-5
        .panel.panel-default
          .panel-heading
            | Salads
          ul.list-group
            li.list-group-item KUBIDEH KEBAB
              label.pull-right $6
            li.list-group-item Season Salad
              label.pull-right $6
            li.list-group-item Caesar Salad
              label.pull-right $6
            li.list-group-item Shirazi Salad
              label.pull-right $6

      .col-sm-2
        .clear-fix

      .col-sm-5
        .panel.panel-default
          .panel-heading
            | Sides
          ul.list-group
            li.list-group-item Mirza Ghasemi
              label.pull-right $6
            li.list-group-item Baba Gonush
              label.pull-right $6
            li.list-group-item Kashke Bademjan
              label.pull-right $6
            li.list-group-item Hummus With Tahini
              label.pull-right $6

    hr
    
    .row
      .col-md-5.col-md-offset-5
        h1
          | Photo Gallery

    .container-flex
      .col-md-3
        a(href='images/sitting.png')
          .thumbnail
            img(src='/images/sitting.png')
            .caption
              p  Welcoming atmosphere
      .col-md-3
        a(href='images/sandwich.png')
          .thumbnail
            img(src='/images/sandwich.png')
            .caption
              p Shawarma sandwich
      .col-md-3
        a(href='images/plate.png')
          .thumbnail
            img(src='/images/plate.png')
            .caption
              p Kefte kebab with Basmati rice

      .col-md-3
        a(href='images/kebab.png')
          .thumbnail
            img(src='images/kebab.png')
            .caption
              p Sultani kebab

                  

  link(rel='stylesheet', href='/stylesheets/pages/menu.css')
