extends layout

block content
  .container.menu
    img(src='images/sides.jpg')

    hr

    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            h2.text-center
              strong Kebabs
            p.text-center Kebabs, Spicy Kebab, Kebab & Fries and Stews & Other Favorites
          .panel-body
            .row
              .col-md-3.medium-margin
                ul.list-group
                  li.list-group-item
                    h4.list-group-item-heading Koobideh  
                      label.label.label-primary.pull-right $9.99
                    p.list-group-item-text Two skewers of grilled marinated ground beef with rice

                  li.list-group-item
                    h4.list-group-item-heading Chicken Leg
                      label.label.label-primary.pull-right $10.99
                    p.list-group-item-text One skewer of grilled marinated boneless chicken leg

                  li.list-group-item
                    h4.list-group-item-heading Chicken Breast
                      label.label.label-primary.pull-right $11.99
                    p.list-group-item-text One skewer of grilled marinated boneless chicken breast

                  li.list-group-item
                    h4.list-group-item-heading Barg Kebab 
                      label.label.label-primary.pull-right $15.99
                    p.list-group-item-text One skewer of grilled marinated beef fillet

                  li.list-group-item
                    h4.list-group-item-heading Kebab Torsh  
                      label.label.label-primary.pull-right $17.99
                    p.list-group-item-text One skewer of beef fillet marinated with pomegranate, walnut & spices

                  li.list-group-item
                    h4.list-group-item-heading Lamb Chop Kebab
                      label.label.label-primary.pull-right $16.99
                    p.list-group-item-text Five pieces of grilled marinated lamb chops

                    
              .col-md-3.medium-margin
                ul.list-group
                  li.list-group-item
                    h4.list-group-item-heading Vaziri Leg  
                      label.label.label-primary.pull-right $13.99
                    p.list-group-item-text Chicken leg & Koobideh kebab 

                  li.list-group-item
                    h4.list-group-item-heading Vaziri Breast
                      label.label.label-primary.pull-right $14.99
                    p.list-group-item-text Chicken breast & Koobideh kebab

                  li.list-group-item
                    h4.list-group-item-heading Sultani
                      label.label.label-primary.pull-right $18.99
                    p.list-group-item-text Barg (beef fillet) & Koobideh kebab

                  li.list-group-item
                    h4.list-group-item-heading Amiri
                      label.label.label-primary.pull-right $19.99
                    p.list-group-item-text Lamb chops & Koobideh kebab

                  li.list-group-item
                    h4.list-group-item-heading Koobideh & Fries
                      label.label.label-primary.label.label-primary.pull-right $10.99
                    p.list-group-item-text Two skewer of ground beef kebab with fries

                  li.list-group-item
                    h4.list-group-item-heading Chicken & Fries
                      label.label.label-primary.pull-right $11.99
                    p.list-group-item-text Chicken leg kebab with fries
 


              .col-md-3.medium-margin
                ul.list-group
                  li.list-group-item
                    h4.list-group-item-heading Spicy Koobideh
                      label.label.label-primary.pull-right $10.99
                    p.list-group-item-text Two skewer of Koobideh marinated in our spicy seasoning

                  li.list-group-item
                    .row
                      .col-sm-6
                        h4.list-group-item-heading Spicy Chicken
                        p.list-group-item-text Chicken kebab marinated in our spicy seasoning

                      .col-sm-6
                        ul.list-group.small-padding
                          li.list-group-item.small-padding Leg
                            label.label.label-primary.pull-right $11.99
                          li.list-group-item.small-padding Breast
                            label.label.label-primary.pull-right $12.99

                  li.list-group-item
                    .row
                      .col-sm-6
                        h4.list-group-item-heading Spicy Combo
                        p.list-group-item-text Koobideh & Chicken kebab marinated in our seasoning

                      .col-sm-6
                        ul.list-group.small-padding
                          li.list-group-item.small-padding Leg
                            label.label.label-primary.pull-right $14.99
                          li.list-group-item.small-padding Breast
                            label.label.label-primary.pull-right $15.99
                            
                  li.list-group-item
                    .row
                      .col-sm-6
                        h4.list-group-item-heading Royal Chicken
                        p.list-group-item-text A mixture of rice & Barberry with chicken kebab

                      .col-sm-6
                        ul.list-group.small-padding
                          li.list-group-item.small-padding Leg
                            label.label.label-primary.pull-right $11.99
                          li.list-group-item.small-padding Breast
                            label.label.label-primary.pull-right $12.99

                  li.list-group-item
                    .row
                      .col-sm-6
                        h4.list-group-item-heading Chicken & Dill Rice
                        p.list-group-item-text Chicken kebab with dill rice

                      .col-sm-6
                        ul.list-group.small-padding
                          li.list-group-item.small-padding Leg
                            label.label.label-primary.pull-right $12.99
                          li.list-group-item.small-padding Breast
                            label.label.label-primary.pull-right $13.99

                  li.list-group-item
                    h4.list-group-item-heading Dill Rice And Shank
                      label.label.label-primary.pull-right $14.99
                    p.list-group-item-text Slow cooked veal shank with dill rice

                    
                    
              .col-md-3.medium-margin
                ul.list-group
                  li.list-group-item
                    h4.list-group-item-heading Gheimeh Stew
                      label.label.label-primary.pull-right $9.99
                    p.list-group-item-text Split peas, potatoes & beef cooked in tomato sauce

                  li.list-group-item
                    h4.list-group-item-heading Fesenjan
                      label.label.label-primary.pull-right $11.99
                    p.list-group-item-text Chicken breast, walnut & spices cooked in pomegranate paste

                  li.list-group-item
                    h4.list-group-item-heading Veggie Dish
                      label.label.label-primary.pull-right $9.99
                    p.list-group-item-text Eggplant dip, yogurt dip served with salad & rice

                  li.list-group-item
                    h4.list-group-item-heading Veggie Gheimeh stew
                      label.label.label-primary.pull-right $9.99
                    p.list-group-item-text Split peas, potatoes & spices cooked in tomato sauce served with salad & rice

                  li.list-group-item
                    h4.list-group-item-heading Dizi (Abgoosht)
                      label.label.label-primary.label.label-primary.pull-right $13.99
                    p.list-group-item-text Chicken peas, white beans, veal shank, potato, tomato & spices with bread

                  li.list-group-item
                    h4.list-group-item-heading Special For Two
                      label.label.label-primary.pull-right $30.99
                    p.list-group-item-text Beef fillet, chicken leg & Koobideh (ground beef kebab) with two plates of rice
                    
          .panel-footer
            p All Kebabs & stews served with rice. Add $1.00 for a sale order of small salad or to substitute rice for a large salad
    
    hr
    
    .row
      .col-sm-5
        .panel.panel-default
          .panel-heading
            h3.text-center
              strong Side order and Extras
          .panel-body  
            ul.list-group
              li.list-group-item
                h4.list-group-item-heading Barley Soup
                  label.label.label-primary.pull-right $2.99
              li.list-group-item
                h4.list-group-item-heading Garden Salad
                  label.label.label-primary.pull-right $3.99
              li.list-group-item
                h4.list-group-item-heading French Fries
                  label.label.label-primary.pull-right $2.99
              li.list-group-item
                h4.list-group-item-heading Torshi (pickled vegetable)
                  label.label.label-primary.pull-right $2.99

      .col-sm-2
        .clear-fix

      .col-sm-5
        .panel.panel-default
          .panel-heading
            h3.text-center
              strong Extra Skewer
          .panel-body
            ul.list-group
              li.list-group-item
                h4.list-group-item-heading Koobideh
                  label.label.label-primary.pull-right $2.99
              li.list-group-item
                h4.list-group-item-headingChicken Leg
                  label.label.label-primary.pull-right $5.99
              li.list-group-item
                h4.list-group-item-heading Chicken Breast
                  label.label.label-primary.pull-right $6.50
              li.list-group-item
                h4.list-group-item-heading Barg
                  label.label.label-primary.pull-right $9.50
 
    hr
    
    .row
    .panel.panel-default
      .panel-heading
        h3.text-center
          strong Photo Gallery
      .panel-body
        .container-flex
          .col-md-3
            a(href='images/sitting.png')
              .thumbnail
                img(src='/images/sitting.png')
                .caption
                  p  Welcoming atmosphere
          .col-md-3
            a(href='images/sandwich.png')
              .thumbnail
                img(src='/images/sandwich.png')
                .caption
                  p Shawarma sandwich
          .col-md-3
            a(href='images/plate.png')
              .thumbnail
                img(src='/images/plate.png')
                .caption
                  p Kefte kebab with Basmati rice

          .col-md-3
            a(href='images/kebab.png')
              .thumbnail
                img(src='images/kebab.png')
                .caption
                  p Sultani kebab

                  

  link(rel='stylesheet', href='/stylesheets/pages/menu.css')
