/* global */
html, body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  border-radius: 0%;
  margin-bottom: 0%;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.small-margin {
  margin: 1rem;
}
/* end global */
